
/*
#FE4365
#FC9D9A
#F9CDAD
#C8C8A9
#83AF9B
#19231f

#c3c9c6
*/
.root {
    -fx-font-family: "Helvetica";
    -fx-background-color: #c5dbd0;
    -fx-text-fill: #19231f;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}
.tab-pane>*.tab-header-area>*.tab-header-background {
-fx-background-color: #FC9D9A
}.tab-pane>*.tab-header-area>*.tab-header-background:hover {
 -fx-background-color: #FE4365
 }

.bg-color{
 -fx-background-color: #FC9D9A;
}
.menu-2-color{
    -fx-background-color: #FC9D9A;
}
.menu-2-color:hover{
     -fx-background-color: #FE4365;
}
.check-box:determinate .box{
    -fx-background-color: #FC9D9A;
    -fx-border-color: lightgray;
}
.check-box:determinate .box:hover{
     -fx-background-color: #FE4365;
     -fx-border-color: lightgray;
      -fx-cursor: hand;
 }
 .combo-box:hover{
      -fx-cursor: hand
 }
 .label-icon{
    -fx-background-color: #FC9D9A;
 }
 .label-icon:hover{
 -fx-background-color: #FE4365;
 }
.tool-bar{
    -fx-background-color: #FC9D9A;
    -fx-border-width: 1;
    -fx-border-color: #FE4365;
}
.menu-bar{
    -fx-background-color: #FC9D9A;
    -fx-border-color: #FE4365;
    -fx-border-width: 1;
}
.menu-bar:hover{
    -fx-background-color: #FE4365;
}
.menu{
    -fx-background-color: #FC9D9A;
}
.menu:hover{
    -fx-background-color: #F9CDAD;
}
.menu-item{
    -fx-background-color: #FC9D9A;
}
.menu-item:hover{
    -fx-background-color: #FE4365;
}
.menu-item:pressed{
    -fx-background-color: #F9CDAD;
}
.button{
    /*-fx-background-color: #83AF9B;*/

    -fx-border-color: #FE4365;
    -fx-border-width: 5;
    -fx-border-radius: 50%;
    -fx-background-color: rgba(0, 0, 0, 0)
    /*-fx-background-radius: 50%*/
}
.button:hover{
    /*-fx-background-color: #F9CDAD;*/
    -fx-border-color: #83AF9B;
      -fx-cursor: hand;
}
.button:pressed{
  /*  -fx-background-color: #FE4365;*/
    -fx-border-color: #C8C8A9;
    -fx-border-width: 6;
}
.tab-pane{
    -fx-background-color:#F9CDAD;
   /* -fx-border-color: #C8C8A9;*/
        -fx-border-color: #FE4365;
        -fx-border-width: 1;
}
.tab{
    -fx-background-color: #F9CDAD;
    -fx-border-color: #C8C8A9;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
}
.label{    
    -fx-text-fill: #19231f;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
} 
.text-title {   
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #19231f;
}
.grid-pane{
    -fx-border-color: lightgray;
    -fx-border-width: 2;
}
